.App {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  box-sizing: border-box;
}
.app-title {
  color: white;
  text-align: center;
}

/* .drum-machine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
